#content-area {
	overflow: auto;
	width: 100%;
	min-height: 100vh;
}

#filter {
	background: $grey;
	width: 30%;
	max-width: 300px;
	display: inline-block;
	float: left;
	
	.inside {
		padding: 20px;
		max-width: 300px;
	}
	
	h4 {
		font-size: 0.9rem;
		margin-bottom: 25px;
		font-weight: 500px;
		text-transform: uppercase;
	}
	
	select {
		background: transparent;
		padding: 10px;
		font-size: 14px;
		font-weight: 500;
		color: #1b1b1b;
		display: block;
		margin-bottom: 25px;
		width: 100%;
	}
	
	.filters {
		.title {
			font-size: .9rem;
			display: block;
			margin-bottom: 1rem;
			color: $darkgrey;
		}
		input[type="text"] {
			border-radius: 5px;
			font-size: 1rem;
			padding: 0.4rem;
			width: 45%;
			display: inline-block;
			margin-right: 2.5%;
			margin-bottom: 1rem;
		}
		
		&.extras {
			label {
				display: block;
				width: 100%;
				padding: 10px 0;
				
				input[type="checkbox"] {
					float: right;
				}
			}
		}
	}
}


#listings {
	width: 70%;
	float: left;
	display: inline-block;
	padding: 15px;
	background: $offwhite;
		
	.search-area {
		input[type="text"] {
			width: 70%;
			background: transparent;
			font-size: 2rem;
			border: none;
			border-bottom: 1px solid $darkgrey;
			margin-bottom: 20px;
			font-weight: 100;
			color: $lightgrey;
		}
	}
	
	.sortby-area {
		margin-bottom: 20px;
		
		.results {
			color: $darkgrey;
			font-size: 0.8rem;
			display: inline-block;
		}
		.sort-options {
			float: right;
			
			select {
				font-size: 0.9rem;
				font-weight: 300;
				border: 1px solid $lightgrey;
				background: transparent;
				padding: 20px;
				display: inline-block;
				margin-right: 15px;
				vertical-align: top;
			}
			.view {
				display: inline-block;
				margin
				
				.fas,
				.far {
				margin-right: 15px;
				font-size: 1.5rem;
				}
			}
		}
	}
	
	.listings-results {
		margin-bottom: 60px;
		
		
		.listing {
			background: #fff; 
			border-radius: 5px;
			-webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
			-moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
			box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
		}
		.listing-img {
			color: white;
			padding: 10px;
			position: relative;
			  background: url("https://i.ytimg.com/vi/J4rBDsimsmQ/maxresdefault.jpg") no-repeat center center; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			min-height: 200px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			
			
			&:hover {
				.details {
					opacity: 1;
				}
				.Address {
					opacity: 0;
				}
			}
			
			.Address {
				position: absolute;
				bottom: 20px;
				opacity: 0;
				transition: all 0.4s ease-in-out;
			}
			
			.details {
				transition: all 0.4s ease-in-out;
				opacity: 0;
				padding: 20px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-topright: 5px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5006e2+0,a92ded+100 */
				background: rgba(80,6,226,.8); /* Old browsers */
				background: -moz-linear-gradient(-45deg, rgba(80,6,226,.8) 0%, rgba(169,45,237,.8) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-45deg, rgba(80,6,226,.8) 0%,rgba(169,45,237,.8) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(135deg, rgba(80,6,226,.8) 0%,rgba(169,45,237,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5006e2', endColorstr='#a92ded',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				
				.user-img {
					width: 35px;
					height: 35px;
					border-radius: 50%;
					border: 2px solid white;
					display: inline-block;
					background: url("https://i.ytimg.com/vi/J4rBDsimsmQ/maxresdefault.jpg") no-repeat center center; 
				  -webkit-background-size: cover;
				  -moz-background-size: cover;
				  -o-background-size: cover;
				  background-size: cover;
				}
				.user-details {
					vertical-align: top;
					display: inline-block;
					width: 70%;
					margin-left: 20px;
					
					.user-name {
						font-weight: 300;
						font-size: 0.9rem;
						display: block;
						color: rgba(255,255,255, 1);
						margin-top: 3px;
						margin-bottom: 5px;
					}
					
					.post-date {
						font-size: 0.9rem;
						display: block;
						color: rgba(255,255,255, .7);
					}
				}
				.listing-details {
					margin-top: 20px;
					margin-bottom: 10px;
					
					.fas,
					.far {
						display: inline-block;
						font-size: 20px;
						margin-right: 15px;
					}
					
					span {
						font-weight: 300;
						font-size: 0.8rem;
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: 3px;
					}
					
					.floor-space {
						margin-bottom: 10px;
					}
				}
			}
		}
		
		.bottom-info {
			padding: 20px 15px;
			
			.price {
				font-size: 1rem;
				display: block;
				margin-bottom: 10px;
				color: $darkgrey;
			}
			
			.location {
				font-size: 1.2rem;
				display: block;
				color: $lightgrey;
			}
		}
	}
}

.view-btn {
	background: black;
	padding: 8px;
	font-size: 0.9rem;
	border-radius: 5px;
	text-align: center;
	max-width: 150px;
	transition: background 0.3s ease-in-out;
	
	&:hover {
		background: $pink;
		cursor: pointer;	
	}
}

#pagination {
	text-align: center;
	
	.pages {
		display: inline-block;
		background: white;
		-webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
		-moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
		box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
		
		li {
			padding: 20px 30px;
			display: inline-block;
			
			&.active,
			&:hover {
				color: white;
				font-weight: 700;
				background: $pink;
				cursor: pointer;
			}
		}
	}
}

.col-md-3 {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
}

.col-md-9 {
	width: 75%;
	display: inline-block;
}